node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*

.firebase/
firestore.indexes.json
firestore.rules
storage.rules
firebase-debug.log

public/__firebase/
public/__hosting-cache/

.vscode/

.DS_Store
Thumbs.db

*.log
